body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

.knoppen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.knop {
  display: inline-block;
  padding: 30px;
  margin: 20px;
  background-color: black;
  color: red;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px; /* Aangepaste tekstgrootte */
  font-weight: bold; /* Vetgedrukte tekst */
}

.knop.clicked {
  background-color: red;
  color: black;
}
