body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

.knoppen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.knop {
  display: flex;
  flex: 1;
  max-width: 300px; /* Maximale breedte van een knop */
  padding: 20px;
  margin: 10px;
  background-color: black;
  color: red;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  font-weight: bold;
}

.knop.clicked {
  background-color: red;
  color: black;
}
