body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
}

.knoppen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap; /* Laat knoppen naar volgende regel gaan */
  gap: 5px; /* Ruimte tussen de knoppen */
}

.knop {
  flex: 1; /* Verdeel beschikbare ruimte gelijkmatig */
  max-width: 40px; /* Maximale breedte van een knop */
  padding: 30px;
  background-color: black;
  color: red;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 200px;
  font-weight: bold;
}

.knop.clicked {
  background-color: red;
  color: black;
}
